@define-color primary-colour rgba(10,10,10,0.9);
@define-color primary-colour-active rgba(40,40,40,0.8);

/* General */ 
* {
  all: unset;
}

window, flowboxchild{
    background-color: rgba(0,0,0,0);
}

.menu_container{
    background-color: rgba(0,0,0,0);
}

.menu_container, .volume_slider, .power_menu, .quick_setting, .device_info, .now_playing_container{
    margin: 5px;
}


.volume_slider, .power_menu{
    padding: 20px;
    border-radius: 15px;
    min-width: 100px;
}

/* Player */
.now_playing_container{
    border-radius: 10px;
    background-color: @primary-colour;
}

.now_playing_cover{
    min-width: 174px;
    background-size: contain;
    border-radius: 10px;
}

.now_playing_info{
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.now_playing_info_artist{
    color: rgba(200,200,200,0.9);
}

/* Volume Slider */
.volume_slider{
    background-color: @primary-colour;
}

.volume_scale{
  margin: 10px;
  margin-left: 20px;
  margin-right: 0px;
  padding: 5px;
}

trough{
  background-color: rgba(255,255,255,1);
  color: rgba(255,255,255,1);
}

highlight{
  background-color: rgba(40,40,60,0.8);
}

slider{  
  min-height: 10px;
  min-width: 10px;
  background-color: rgba(0,0,0,0);
}

/* Quick Settings */
.quick_setting{
  background-color: @primary-colour;
  padding: 10px;
  border-radius: 15px;
  min-width: 60px;
  min-height: 60px;
  font-size: 28px;
}

.quick_setting:checked{
    background-color: @primary-colour-active;
}

/* Device Info */
.device_info{
  background-color: @primary-colour;
  padding: 10px;
  border-radius: 15px;
  min-width: 60px;
  min-height: 60px;
}

/* Power Menu */
.power_menu{
    background-color: @primary-colour;
}

.power_button{
  font-size: 20px;
  min-width: 30px;
  min-height: 30px;
}

.power_button:hover{
  background-color: rgba(255,255,255, 0.1);
  border-radius: 45px;
}

/* Power Warning */
.power_warning_button{
  background-color: rgba(100,100,120,0.8);
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
  margin: 10px;
}
