@define-color primary-colour rgba(10,10,10,0.9);
@define-color primary-colour-active rgba(40,40,40,0.8);
@define-color text rgba(255,255,255,1);

/* General */ 
* {
  all: unset;
}

window, flowboxchild{
    background-color: rgba(0,0,0,0);
}

.menu_container{
    background-color: rgba(0,0,0,0);
}

.menu_container, .volume_slider, .power_menu, .quick_setting, .device_info, .now_playing_container, .power_warning_container{
    margin: 5px;
    border-radius: 10px;
}

.volume_slider, .power_menu{
    padding: 20px;
    min-width: 100px;
}

/* Bar TODO: Fix this for when workspaces are finished*/
.bar{
    background-color: rgba(255,255,255,0.07);
    color: @text;
}

.bar_item{
    background-color: @primary-colour;
    border-radius: 45px;
    padding-left: 10px;
    padding-right: 10px;
}

.bar_workspace{
    
}

.bar_workspace.focused{
    background-color: rgba(0,0,0,0.6)
}

.bar_menu{
    font-size: 25px;
    transition: background-color 0.2s;
    padding-right: 15px;
}

.bar_menu:hover{
    background-color: rgba(0,0,0,0.6);
}

/* App Launcher */
.app_menu_container{
  padding: 15px;
  background-color: @primary-colour;
  border-radius: 10px;
  min-width: 500px;
  min-height: 300px;
}

.app_menu_input{
  font-size: 20px;
  padding: 5px;
}

.app_menu_entry{
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255,255,255, 0.1);
  border-radius: 10px;

  padding: 5px;
  margin-top: 5px;
}

.app_menu_entry.active{
    border-width: 2px;
    background-color: rgba(255,255,255,0.1);
}

.app_menu_entry_text, .app_menu_entry_icon{
  font-size: 28px;
}

/* Player */
.now_playing_container{
    background-color: @primary-colour;
}

.now_playing_cover{
    min-width: 174px;
    background-size: contain;
}

.now_playing_info{
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.now_playing_info_artist{
    color: rgba(200,200,200,0.9);
}

/* Volume Slider */
.volume_slider{
    background-color: @primary-colour;
}

.volume_scale{
  margin: 10px;
  margin-left: 20px;
  margin-right: 0px;
  padding: 5px;
}

trough{
  background-color: rgba(255,255,255,1);
  color: rgba(255,255,255,1);
}

highlight{
  background-color: rgba(40,40,60,0.8);
}

slider{  
  min-height: 10px;
  min-width: 10px;
  background-color: rgba(0,0,0,0);
}

/* Quick Settings */
.quick_setting{
  background-color: @primary-colour;
  padding: 10px;
  min-width: 60px;
  min-height: 60px;
  font-size: 28px;
}

.quick_setting:checked{
    background-color: @primary-colour-active;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(255,255,255,0.2);
    min-width: calc(60px - 4px);
    min-height: calc(60px - 4px);
}

/* Device Info */
.device_info{
  background-color: @primary-colour;
  padding: 10px;
  min-width: 60px;
  min-height: 60px;
}

/* Power Menu */
.power_menu{
    background-color: @primary-colour;
}

.power_button{
  font-size: 20px;
  min-width: 30px;
  min-height: 30px;
}

.power_button:hover{
  background-color: rgba(255,255,255, 0.1);
  border-radius: 45px;
}

/* Power Warning */
.power_warning_container{
    background-color: @primary-colour;
    padding: 10px;
}

.power_warning_text{
    font-size: 24px;
}

.power_warning_button{
  background-color: rgba(100,100,120,0.8);
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
  margin: 10px;
}
