*{
    all: unset;
}

$background: #222233;
$foreground: #FFFFFF;

$alt: #333355;
$alt-active: #777799;

.bar{
    background-color: $background;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;

    border-radius: 15px;
}

.workspace_active, .workspace_inactive{
    font-size: 14px;

    background-color: $alt;
    color: $foreground;
    
    min-width: 50px;
    min-height: 30px;

    margin-left: 5px;

    border-radius: 45px;
}

.workspace_active{
    background-color: $alt-active;
}

.sys_box{
    font-size: 14px;

    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;

    margin-left: 2px;
    margin-right: 2px;

    border-radius: 45px;

    background-color: $alt;
}

.clock{
    font-size: 14px;
}

.menu{
    background-color: $background;

    border-radius: 15px;

    margin: 20px;
}

.power_button{
    background-color: $alt;

    min-width: 30px;
    min-height: 30px;

    border-radius: 45px;
}

.volume_scale, .brightness_scale {
    highlight { 
        background-color: $alt-active;
        min-height: 10px; 

        border-radius: 15px;
    } 
    trough { 
        background-color: $alt;
        min-height: 10px;

        border-radius: 15px;

        slider{
            min-width: 40px;
            min-height: 10px; 
            border-radius: 15px;
    
        }
    } 

    all: unset;

    min-width: 150px;
    min-height: 20px;
}

.text_scale{
    margin-right: 15px;
}
