
@define-color item rgba(0,0,0,1);
@define-color background rgba(255,255,255,0.07);
@define-color text rgba(255,255,255,0.8);

* {
    font-family: CodeNewRoman, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding: 2px;
}

window#waybar {
    background-color: @background;
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/* Workspaces */
#workspaces {
    border-radius: 45px;
    background-color: @item;
}

#workspaces button {
    border-radius: 45px;
    padding: 0 5px;
    color: @text;
    margin-left: 3px;

    min-width:30px;
    min-height: 30px;
}

#workspaces button.focused{
    background-color: rgba(255,255,255,0.1);
}

/* Widgets */
#clock, #battery, #backlight, #pulseaudio, #network{
    border-radius: 45px;
    background-color: @item;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
}

/* Battery */
@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
